.nav__light{
    margin: 0px 4px;
    margin-top: 8px;
    background-color: white;
    border-radius: 10px;
}

.nav__dark{
    margin: 0px 4px;
    margin-top: 8px;
    border: solid 1px white;
    background-color: #212529;
    border-radius: 10px;
}

.nav__container{
    padding: 8px;
}

.homebtn{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}